<div class="container">
  <button (click)="enterGoogleAccount()"> Sign in with Google </button>
  <div *ngIf="fakeToken">
    Failure in the authentication of your Google token
  </div>
  
  <p> and </p>
  
  <div>
    <form>
      <div>
        <label for="name"> Scan your card </label>
        <input type="password" class="form-control" id="cardForm" [(ngModel)]="idCard" name="card" required autofocus>
      </div>
      <button (click)="registerCard()" hidden></button>
    </form>
  </div>
</div>