<app-header [user]="this.dataService.user" [occupancy]="selectedRoom['Occupancy']">
</app-header>

<div class="container">
  <app-calendar [timeScale]="'Week'" [events]="events">
  </app-calendar>

  <br>
  <form>
    <div>
      <input #scan type="password" class="form-control" [formControl]="idCardControl">
      <div *ngIf="cardUnknown === true" class="alert alert-danger">
        This card is not associated to a user
      </div>
    </div>
    <button (click)="setUserPosition(idCardControl.value)" hidden></button>
  </form>
</div>
