<app-header [user]='this.dataService.user'></app-header>

<div id="main" class="container">
  <div id="first">
    <p class="fLine"> Application made by: </p>
    <div class="flex-container"> 
      <p class="name"> Neil RITTNER </p>

      <p>
        <a class="image" href="https://www.linkedin.com/in/neil-rittner-65aa60137/">
          <img src="assets/images/linkedin.png" alt="logo Linkedin">
        </a>
        
        <a class="image" href="https://github.com/NeilRittner/InsightCalendar">
          <img src="assets/images/gitHub.png" alt="logo GitHub">
        </a>
      </p>
    </div>
    <p class="position"> Intern </p>
    <p><a href="http://web.polytech.univ-nantes.fr/"> Polytech'Nantes </a></p>
  </div>

  <div>
    <p class="fLine"> Supervisor: </p>
    <p class="name"> Dr. Martin SERRANO </p>
    <p class="position"> Internet of Things & Stream Processing Unit Head</p>
    <p> <a href="https://www.insight-centre.org/">Insight Centre for Data Analytics, NUIG</a> </p>
  </div>
</div>
