<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Prévoir le status dans le brand sous forme de rond de couleur? -->
  <span class="navbar-brand mb-0 h1 name">{{user.FirstName}} {{user.LastName}}</span>
  
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/user']">
          Home
        </a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/booking']">
          Booking
        </a>
      </li>

      <li *ngFor="let roomName of roomNamesList" class="nav-item" 
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/room', roomName]">
          {{ spaceRoomName(roomName) }}
        </a>
      </li>
    </ul>

    <div *ngIf="timeScale" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle cursor" id="navbardrop" data-toggle="dropdown">
        {{ timeScale }}
      </a>
      <div class="dropdown-menu">
        <button class="dropdown-item cursor" (click)="changeTimeScale('Day')">Day</button>
        <button class="dropdown-item cursor" (click)="changeTimeScale('Week')">Week</button>
        <button class="dropdown-item cursor" (click)="changeTimeScale('Month')">Month</button>
      </div>
    </div>

    <div *ngIf="occupancy !== undefined" class="nav-item">
      <span>Occupancy: {{ occupancy }}</span>
    </div>

    <!-- <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
