<app-header [user]='this.dataService.user'></app-header>

<div class="container">
  <form>
    <div id="title" class="element">
      <input type="text" placeholder="Title" class="form-control" [(ngModel)]="title" name="title">
    </div>
    
    <div class="container row times element">
      <p class="info"> <strong> Start </strong> </p>
      <div>
        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker 
        [(ngModel)]="startDate" name="startDate" 
        [bsConfig]="{ dateInputFormat: 'MMMM D, YYYY', containerClass: 'theme-dark-blue' }">
      </div>
      <timepicker [(ngModel)]="startDate" name="startDate" (change)="changeEnd()" (click)="changeEnd()" (mousewheel)="changeEnd()">
      </timepicker>
    </div>

    <div class="container row times element">
      <p class="info"> <strong> End </strong> </p>
      <div>
        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker 
        [(ngModel)]="endDate" name="endDate" 
        [bsConfig]="{ dateInputFormat: 'MMMM D, YYYY', containerClass: 'theme-dark-blue' }">
      </div>
      <timepicker [(ngModel)]="endDate" name="endDate" (change)="changeEventLength()" (click)="changeEventLength()" (mousewheel)="changeEventLength()">
      </timepicker>
    </div>

    <div class="element">
      <mat-form-field>
        <input type="text" placeholder="Add a room" aria-label="Number" matInput [formControl]="roomsControl" 
        [matAutocomplete]="autoRoom">
        <mat-autocomplete #autoRoom="matAutocomplete">
          <mat-option *ngFor="let room of filteredRooms | async" [value]="room['Name']" (click)="setRoom(room)">
            {{room['Name']}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <fa-icon *ngIf="selectedRoom" class="cursor" [icon]="faTimes" (click)="clearRoom()"></fa-icon>
    </div>

    <div class="element">
      <mat-form-field>
        <input type="text" placeholder="Add a co-organizer" aria-label="Number" matInput [formControl]="coOrgaControl"
        [matAutocomplete]="autoCoOrga">
        <mat-autocomplete #autoCoOrga="matAutocomplete">
          <mat-option *ngFor="let coOrga of filteredAttendees | async" 
          [value]="coOrga['FirstName'] + ' ' + coOrga['LastName']" (click)="setCoOrga(coOrga)">
             {{coOrga['FirstName']}} {{coOrga['LastName']}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <fa-icon *ngIf="coOrga !== null" class="cursor" [icon]="faTimes" (click)="clearCoOrga()"></fa-icon>
    </div>

    <div class="element">
      <mat-form-field>
        <input type="text" placeholder="Add attendee" aria-label="Number" matInput [formControl]="attendeesControl" 
        [matAutocomplete]="autoAttendee">
        <mat-autocomplete #autoAttendee="matAutocomplete">
          <mat-option *ngFor="let attendee of filteredAttendees | async"
          [value]="attendee['FirstName'] + ' ' + attendee['LastName']" (click)="addAttendee(attendee)">
            {{attendee['FirstName']}} {{attendee['LastName']}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="element">
      <p class="participants"><strong> Participants </strong></p>
      <p *ngFor="let att of attendeesList" class="participants">
        {{att['FirstName']}} {{att['LastName']}} : {{att['Email']}}
        <fa-icon *ngIf="(coOrga === null && att['Email'] !== this.dataService.user['Email'])"
        class="cursor" [icon]="faTimes" (click)="removeAttendee(att)"></fa-icon>
        <fa-icon *ngIf="(coOrga !== null && att['Email'] !== coOrga['Email'] && att['Email'] !== this.dataService.user['Email'])" 
        class="cursor" [icon]="faTimes" (click)="removeAttendee(att)"></fa-icon>
      </p>
    </div>

    <button id="submit" type="submit" (click)="createEvent()" class="btn btn-success">Submit</button>
  </form>
</div>
